<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="VFPAcDataPath" value="d:\apps\safesoun\pro6\acdata\"/>
    <add key="VFPArDataPath" value="d:\apps\safesoun\pro6\ardata\"/>
    <add key="VFPSysDataPath" value="d:\apps\safesoun\pro6\"/>
        <add key="MySQLConnStringWithDB" value="server=localhost;userid=root;password=master;database=sslocal"/> 
    <!-- <add key="MySQLConnStringWithDB" value="server=207.246.248.69;userid=348974_ssarmdev;password=VUeXHxvm97XGapHBq@CHF;database=348974_ssarmdev"/> -->
    <!-- <add key="MySQLConnStringWithDB" value="server=database.ssarmored.com;userid=348974_cbentry;password=sU8234@8;database=348974_c_b_entry"/>    -->
    <add key="FTPFilepath" value="d:\apps\safesoun\nhpdev\sheets\"/>
    <add key="NHPBankPath" value="d:\apps\safesoun\nhpdev\"/>
    <add key="PDFFilesPath" value="d:\apps\safesoun\nhpdev\pdffiles\"/>
    <add key="InvoicePDFPath" value="d:\apps\safesoun\ssoffice\PDFInvoices\"/>
    <add key="XLSFilesPath" value="d:\apps\safesoun\nhpdev\sheets\"/>
    <add key="SQLConnString" value="Data Source=BILL-PC;Initial Catalog=safesignature;User=sa; Password=master;"/>
    <add key="FTPADDRESS" value ="204.232.164.58:2199"/>
    <add key="FTPPORT" value ="21"/>
    <add key="FTPUserId" value ="safesound"/>
    <add key="FTPPW" value ="sns3qr@crx91b"/>
    <add key="morphisdroppath" value ="d:\apps\safesoun\junk\morphis\fills.xls"/>
    <add key="morphisservicepath" value ="d:\apps\safesoun\junk\morphis\mservice2.xls"/>
    <add key="IMPORTFTPADDRESS" value ="184.106.55.230"/>
    <add key="IMPORTFTPPORT" value ="21"/>
    <add key="IMPORTFTPUSERID" value ="ftpdrop"/>
    <add key="IMPORTFTPPW" value ="ssarm0red*!"/>
    <add key="SynchDropSchedule" value="True"/>
    <add key="SynchStore" value="True"/>
    <add key="SynchDriver" value="True"/>
    <add key="SynchMoneyCenterTables" value="True"/>
    <add key="SynchATMMast" value="True"/>
    <add key="SynchATMDrop" value="True"/>
    <add key="FiletoSend" value ="d:\apps\safesoun\junk\junk.csv"/>
    <add key="NotifyAddress" value="wfitz@woodsysgrp.com"/>
    <add key="SLSTaxAccount" value="23600-010"/>
    <add key="REVAccount" value="40000-010"/>
    <add key="SHIPAccount" value="40000-000"/>
    <add key="ARAccount" value="11000-010"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPUser" value="no-reply@ssarmored.com"/>
    <add key="SMTPPassword" value= "D7BaKZA?"/>
    <add key="SMTPFromName" value="Bill Fitzgerald"/>
    <add key="SMTPFromAddress" value="no-reply@ssarmored.com"/>
    <add key="SynchHoldpath" value="d:\apps\safesoun\synchhold\"/>
    <add key="Synchpath" value="d:\apps\safesoun\synchfolder\"/>
    <add key="Reportpath" value="D:\apps\safesoun\BPDev\BusinessProcessing\bin\debug\reportfiles\"/>
    <add key="TestEmailAddress" value="wfitz@woodsysgrp.com"/>
    <add key="TestMode" value="True"/>
    <add key="ManifestCourierName" value ="Safe and Sound Armed Courier"/>
    <add key="ManifestCourierStreet" value ="520 Cherry Lane"/>
    <add key="ManifestCourierCity" value ="Floral Park"/>
    <add key="ManifestCourierState" value ="NY"/>
    <add key="ManifestCourierZip" value ="11001"/>
    <add key="ManifestCourierPhone" value ="(516)502-4264"/>
    <add key="ManifestCourierFax" value ="(516)502-4265"/>
    <add key="SafeAndSoundInventoryID" value ="10000000"/>
    <add key="RapidInventoryID" value ="RA111"/>
    <add key="BNPInventoryID" value ="021406667"/>
    <add key="SignatureInventoryID" value ="8923847"/>
    <add key="CashConnectInventoryID" value = "YY888888888"/>
    <add key="CashConnectSafeInventoryID" value = "CCSmartSafe"/>
  </appSettings>
 
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
 

</configuration>
